APP_NAME="NewWorldCargo"
APP_ENV=production
APP_KEY=base64:Py9qO+QPMH3yx1s62Nw61rYfYaCRWwejFGoFfPQeHS8=
APP_DEBUG=false
APP_URL=https://app.newworldcargo.com

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nwclogistics
DB_USERNAME=root
DB_PASSWORD=
DB_SOCKET=


BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PREFIX_ADMIN="admin"
ADMIN_THEME="adminLte"
INSTALLATION=true
IMPORT_OLD_DATABASE=false
DEMO_MODE="Off"

DB_CONNECTION_SECOND=
DB_PORT_SECOND=
DB_HOST_SECOND=
DB_DATABASE_SECOND=
DB_USERNAME_SECOND=
DB_PASSWORD_SECOND=

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=noreply@newworldcargo.com
MAIL_PASSWORD=NWc@1212
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=noreply@newworldcargo.com
MAIL_FROM_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=817532737236-23losvtm2444mli4sn4smdo7scnpo6ro.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://newworldcargo.com/auth/google/callback